$primary: #B60829;
$secondary: #FB0F53;
$flags: #9a1d1c;
$flags-light: #e75130;
$primary-light: #F9A7C3;
$secondary-light: #F9D6B2;
$warm-background: #67462E;
$neutral-background: #7B7B7B;
$dark-background: #1a1a1a;
$contrast-dark: #1C9DB2;
$overlay: #c4abb2;
$container-width: 1366px;
$main-font-family: 'Montserrat', sans-serif;
